:root {
  --sarika-color-primary: #2d232e;
  --sarika-color-primary-rgb: 45, 35, 46;
  --sarika-color-secondary: #474448;
  --sarika-color-secondary-rgb: 71, 68, 72;
  --sarika-color-body: #1e2d2f;
  --sarika-color-body-rgb: 30, 45, 47;
  --sarika-color-light: #f1f0ea;
  --sarika-color-light-rgb: 241, 240, 234;
  --sarika-color-dark: #1a1a1a;
  --sarika-color-dark-rgb: 26, 26, 26;
  --sarika-color-accent: #e0ddcf;
  --sarika-color-accent-rgb: 224, 221, 207;
  --sarika-color-white: #ffffff;
  --sarika-color-white-rgb:255, 255, 255;
  --sarika-color-black: #000000;
   --sarika-color-black-rgb:0, 0, 0;
}
