/**
 * Sarika Container - Editor Styles
 *
 * NOTE: Global utilities loaded from editor-style.scss.
 * Only block-specific styles here.
 *
 * @package sarika
 */

.sarika-container {
	// Minimal editor styling - uses global utilities
	// InnerBlocks will render native Gutenberg blocks
}
